@model BasketWebPanel.Models.ForgotViewModelSendEmail
@{
    ViewBag.Title = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    @Styles.Render("~/Content/css/Login")

    <link rel="shortcut icon" href="~/Content/images/favicon.ico" />
    <title>iConnect Ticketing System </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <style>
        @@media (max-width: 768px) {
            .login_form {
                text-align: center;
                padding-right: 15px;
                padding-left: 15px;
            }
        }

        #divValidationSummary ul {
            list-style-type: none;
            padding-left: 0px;
        }

            #divValidationSummary ul li {
                /*float: left;*/
            }

        footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            /* Set the fixed height of the footer here */
            height: 51px;
            background-color: #EEEBEB;
            margin-left: 0px;
        }
    </style>
</head>

<body class="login" style="overflow:hidden">
    <div id="wrap">
        <div id="main" class="container clear-top">
            <div>
                <a class="hiddenanchor" id="signup"></a>
                <a class="hiddenanchor" id="signin"></a>
                <div class="login_wrapper">
                    <div class="animate form login_form">
                        <br />
                        <br />
                        <div class="row">
                            <div class="col-md-3">
                                <img src="~/Content/images/image.jpg" class="img-responsive" alt="" height="50" width="50" style="float:right">
                            </div>
                            <div class="col-md-9" style="padding-left:0px">
                                <h1 style="float:left; font-size:25px"><i class="fa fa-paw"></i> Basket Web Panel</h1>
                            </div>
                        </div>
                        <section class="login_content">
                            @using (Html.BeginForm("ForgotPasswordSendEmail", "Account", FormMethod.Post, new { onsubmit = "onSubmitBegin()", @class = "form-horizontal", role = "form", autocomplete = "off" }))
                            {
                                @Html.AntiForgeryToken()
                                <h1>Forgot Password</h1>
                                <div class="row" style="margin-bottom:10px;">
                                    <input autofocus type="text" data-val="true" style="margin-bottom:0px" class="form-control " placeholder="Enter your email" name="Email" id="Email" value="@Model.Email" data-val-required="Email is required" data-val-email="The email is not a valid e-mail address" />
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger", style = "float:left" })
                                </div>
                                <div class="row" id="divValidationSummary">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                </div>
                                <div class="row">
                                    <input class="btn btn-default btn-md submit" type="submit" style="float: none;margin-left: 0;" href="index.html" value="Send" />
                                </div>
                                <div class="clearfix"></div>

                            }
                        </section>
                        <div class="separator">
                            <div class="clearfix"></div>
                            <br />

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="pull-right">
            <span style="font-size:15px">Powered by    </span> <a href="https://www.ingic.ae/" target="_blank"><img height="20px" width="70px" src="~/Content/images/ingic.png"></a>
        </div>
        <div class="clearfix"></div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")

</body>
</html>
<script>
    function onSubmitBegin() {
        $("#divValidationSummary").empty();
    }
</script>
